h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}
p,span,a,ol,ul,li,dl,textarea
{
    font-family: 'Noto Serif TC', serif;
}


#intro .jumbotron{
    height: 70vh;

}

#intro h1{
    font-size: 52px;
    font-weight: 800;
    line-height: 1.5;
}

#intro .btn{
    background: #610;
    color: white;
    line-height: 1.5;
    border-radius: 20px;
    padding: (10px 120px)
}

#intro .container{
    position: relative;
    top: 50%;
    -webkit-transform: translatY(-50%);
    -ms-transform: translatY(-50%);
    transform: translateY(-50%);
}
header nav img{
    width: 168px;
}

#second h3{
    margin: 30px;
}

p.h4{
    color: #0befab;
    
}
img{
    max-width: 100%;
}

#least .upper{
    position: relative;
}

#least .innertext{
 position: absolute;
 bottom: 0px;
 left: 8px;

}